#gameBoard {
    display: grid;
    /* grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px); */
    justify-content: center;
}
.cell {
    width: 30px;
    height: 30px;
    background-color:gray;
    border: 1px solid #999;
    box-sizing: border-box;
    user-select: none;
    /* 将光标样式设置为默认的箭头，而不是文本选择的 I 型光标 */
    cursor: default;
}
h1 {
    color:rgb(16, 16, 16);
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
div {
    display: flex;
    justify-content: center;
}
button {
    font-size: 20px; /* 设置字体大小 */
    font-weight: bold; /* 设置字体粗细 */
    color: #000; /* 设置字体颜色 */
    background: linear-gradient(to right, #f9f9f9, #e0e0e0); /* 渐变背景色 */
    padding: 5px; /* 设置内边距 */
    border-radius: 5px; /* 设置边框圆角 */
    text-align: center; /* 设置文本对齐方式 */
    border: 2px solid #444; /* 边框 */
    transition-duration: 0.4s; /* 设置过渡效果 */
    cursor: pointer; /* 设置鼠标样式 */
    margin: 0 10px; /* 设置按钮间距 */
    width: 80px; /* 设置宽度 */
}
button:hover {
    background: linear-gradient(to right, #636060, #777676); /* 鼠标悬停时的渐变背景色 */
}
body {
    background-image: url('./source/BG1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}
.cell:hover {
    background-color: lightblue;
}
#timer,#mineCounter{
    width: 300px; 
    font-size: 20px; /* 设置字体大小 */
    font-weight: bold; /* 设置字体粗细 */
    color: #000; /* 设置字体颜色 */
    background-color: #f9f9f9; /* 设置背景颜色 */
    padding: 10px; /* 设置内边距 */
    border-radius: 5px; /* 设置边框圆角 */
    text-align: center; /* 设置文本对齐方式 */
    margin-right: 60px;  /* 右边距 */
    margin-left: 60px;  /*左边距*/
    border: 2px solid #444; /* 边框 */
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2); /* 阴影 */
    background: linear-gradient(to right, #f9f9f9, #e0e0e0); /* 渐变背景色 */
}
#info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer #author{
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: #888;
    left: 0;
}

footer #version{
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: #888;
}


